<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-status">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `element-status`
     * Ejercicio del ultimo dia del curso de Polymer
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementStatus extends Polymer.Element {
      static get is() { return 'element-status'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-status'
          }
        };
      }
    }

    window.customElements.define(ElementStatus.is, ElementStatus);
  </script>
</dom-module>
